<?xml version="1.0"?>
<!--
/**
 * Levelshoes_Shopfinder extension
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Levelshoes
 * @package   Levelshoes_Shopfinder
 * @copyright Copyright (c) 2023
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Levelshoes_Shopfinder::shopfinder_shop" title="Shopfinder" module="Levelshoes_Shopfinder" sortOrder="111" action="levelshoes_shopfinder/shop" parent="Magento_Backend::content_elements" resource="Levelshoes_Shopfinder::shopfinder_shop"/>
    </menu>
</config>
